{% load static %}
{% block header %}

<!DOCTYPE html>
<html lang="en">

    {% include 'head.html' %}

{% endblock %}

{% block body %}

<body class="container-fluid">
    <div class="row">
    {% include 'aside.html' %}
        <div class="col-xs-11 col-sm-11 col-lg-10" id="principal">
        <header>
          {% include 'navbar.html' %}
          {% include 'menu-mobile.html' %}
        </header>
        <main>
            <div class="header-main row">
                <div class="header-main__wrap col-md-9 col-xs-12 col-12 ">
                    {% include 'dados.html' %}
                </div>
                <div class="header-main__wrap__info__deputados col-md-3 col-xs-12 col-12">
                  {% include 'infos.html' %}
                </div>
            </div>
        </main>
     </div>

    </div>


{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
</body>
</html>
{% endblock %}
